<section class="blogs">
   <div class="container">
   	<h1>SHOW</h1>
       <hr>
   	 <div class="row">
         <div class="row">
       <div class="col-8 contenido">
          <h4>
            TITULO:<%= @service.title%>
        </h4>
         <h4>Description:</h4> 
         <%= @service.description %>
       </div>
        <div class="col-4 img">
           <%= image_tag @service.imgs.thumb.url%> 
       </div>
     </div>
     <%= link_to 'Back',admin_services_path, class:"btn btn-outline-primary" %>
     <%= link_to "Editar", edit_admin_service_path, class:"btn btn-outline-success"%>
   </div>
</section>   