<div class="container">
<h1> formulario</h1>
<%= form_for @blog, html: { multipart: true } do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title%>
	</div>
	  <div>
    <%= f.label :imagen %>
    <%= f.file_field :imagen %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit %>
<% end %>

</div>