<section class="blogs">
  <div class="container">
   <table class="table">
     <thead>
       <tr>
          <th class="col-3">First</th>
          <th class="col">Last</th>
          <th class="col">Handle</th>
      </tr>
     </thead>
   <tbody>
     <% @blog.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.description %></td>
      <td><%= image_tag blog.img.thumb.url%></td>
        <td>
          <%= link_to "Mostrar",admin_blog_path(blog)%>
          <%= link_to "Editar", edit_admin_blog_path(blog)%>
          <%= link_to "Eliminar",admin_blog_path(blog), method: :delete, data: { confirm: "¿Estás seguro de eliminar este dato" }%>
       </td>
     </tr>

    <% end %>
  </tbody>
 </table>
   <%= link_to "New", new_admin_blog_path%>
 </div>
</section>